In [40]:
import pandas as pd

In [41]:
df=pd.read_csv("amazon_product.csv")

In [42]:
df.head(2)

,Unnamed: 0,asin,product_title,product_price,product_original_price,currency,product_star_rating,product_num_ratings,product_url,product_photo,...,is_best_seller,is_amazon_choice,is_prime,climate_pledge_friendly,sales_volume,delivery,has_variations,product_availability,unit_price,unit_count
0,0,B0BQ118F2T,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,$169.99,USD,4.0,2929,https://www.amazon.com/dp/B0BQ118F2T,https://m.media-amazon.com/images/I/61K1Fz5Lxv...,...,False,False,True,False,6K+ bought in past month,"FREE delivery Tue, Aug 6",True,NaN,NaN,NaN
1,1,B0CTD47P22,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,$158.00,USD,4.2,135,https://www.amazon.com/dp/B0CTD47P22,https://m.media-amazon.com/images/I/51QhB2CfqS...,...,False,False,True,False,3K+ bought in past month,"FREE delivery Wed, Aug 7 Only 7 left in stock ...",False,Only 7 left in stock - order soon.,NaN,NaN

In [43]:
df["product_price"][10]

'$70.61'

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   64 non-null     int64
 1   asin                         64 non-null     object
 2   product_title                64 non-null     object
 3   product_price                64 non-null     object
 4   product_original_price       27 non-null     object
 5   currency                     64 non-null     object
 6   product_star_rating          54 non-null     float64
 7   product_num_ratings          64 non-null     int64
 8   product_url                  64 non-null     object
 9   product_photo                64 non-null     object
 10  product_num_offers           64 non-null     int64
 11  product_minimum_offer_price  64 non-null     object
 12  is_best_seller               64 non-null     bool
 13  is_amazon_choice             64 non-null     bool
 14  is_prime                     64 non-null     bool
 15  climate_pledge_friendly      64 non-null     bool
 16  sales_volume                 61 non-null     object
 17  delivery                     63 non-null     object
 18  has_variations               64 non-null     bool
 19  product_availability         1 non-null      object
 20  unit_price                   5 non-null      object
 21  unit_count                   5 non-null      float64
dtypes: bool(5), float64(2), int64(3), object(12)
memory usage: 8.9+ KB

In [45]:
df.describe()

,Unnamed: 0,product_star_rating,product_num_ratings,product_num_offers,unit_count
count,64.000000,54.000000,6.400000e+01,64.000000,5.000000
mean,31.500000,4.244444,5.210164e+04,4.859375,15.200000
std,18.618987,0.558187,1.576855e+05,8.145243,25.390943
min,0.000000,1.800000,0.000000e+00,1.000000,0.000000
25%,15.750000,4.100000,4.775000e+01,1.000000,2.000000
50%,31.500000,4.400000,9.675000e+02,1.000000,3.000000
75%,47.250000,4.600000,1.384625e+04,4.000000,11.000000
max,63.000000,4.800000,1.015448e+06,34.000000,60.000000

In [46]:
df.shape

(64, 22)

In [47]:
df.columns

Index(['Unnamed: 0', 'asin', 'product_title', 'product_price',
       'product_original_price', 'currency', 'product_star_rating',
       'product_num_ratings', 'product_url', 'product_photo',
       'product_num_offers', 'product_minimum_offer_price', 'is_best_seller',
       'is_amazon_choice', 'is_prime', 'climate_pledge_friendly',
       'sales_volume', 'delivery', 'has_variations', 'product_availability',
       'unit_price', 'unit_count'],
      dtype='object')

In [48]:
'''
Deleting unnecessary columns
Renaming the columns
Dropping duplicates
Removeing Null Values from the dataset
Checking for some morer Transformations
'''

'\nDeleting unnecessary columns\nRenaming the columns\nDropping duplicates\nRemoveing Null Values from the dataset\nChecking for some morer Transformations\n'

In [49]:
df.drop(columns=['Unnamed: 0','asin','product_url','product_photo',
       'product_num_offers','product_minimum_offer_price','is_amazon_choice', 'is_prime', 'climate_pledge_friendly',
       'sales_volume', 'delivery', 'has_variations'],inplace=True)

In [50]:
df

,product_title,product_price,product_original_price,currency,product_star_rating,product_num_ratings,is_best_seller,product_availability,unit_price,unit_count
0,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,$169.99,USD,4.0,2929,False,NaN,NaN,NaN
1,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,$158.00,USD,4.2,135,False,Only 7 left in stock - order soon.,NaN,NaN
2,Total by Verizon | Samsung Galaxy A03s | Locke...,$49.88,NaN,USD,3.9,205,False,NaN,NaN,NaN
3,Google Pixel 7a - Unlocked Android Cell Phone ...,$335.00,$499.00,USD,4.3,2248,False,NaN,NaN,NaN
4,"SAMSUNG Galaxy A15 5G A Series Cell Phone, 128...",$199.99,NaN,USD,4.1,423,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59,Greatish Hits: I Followed My Dreams and My Dre...,$34.98,NaN,USD,NaN,0,False,NaN,NaN,NaN
60,Swan Song,$14.99,$30.00,USD,4.4,14471,True,NaN,NaN,NaN
61,Bluey: Let&#x27;s Play!,$0.00,NaN,USD,3.5,270,False,NaN,NaN,NaN
62,Xbox Wireless Controller – Sky Cipher Special ...,$69.99,NaN,USD,2.6,12,True,NaN,NaN,NaN
63,HP DeskJet 2855e Wireless All-in-One Color Ink...,$59.99,$84.99,USD,4.0,48154,True,NaN,NaN,NaN

In [51]:
df.columns

Index(['product_title', 'product_price', 'product_original_price', 'currency',
       'product_star_rating', 'product_num_ratings', 'is_best_seller',
       'product_availability', 'unit_price', 'unit_count'],
      dtype='object')

In [52]:
df_new_column_names=[]

for i in df:
    df_new_column_names.append(i.capitalize())

In [53]:
df_new_column_names

['Product_title',
 'Product_price',
 'Product_original_price',
 'Currency',
 'Product_star_rating',
 'Product_num_ratings',
 'Is_best_seller',
 'Product_availability',
 'Unit_price',
 'Unit_count']

In [54]:
df.columns=df_new_column_names

In [55]:
df.columns

Index(['Product_title', 'Product_price', 'Product_original_price', 'Currency',
       'Product_star_rating', 'Product_num_ratings', 'Is_best_seller',
       'Product_availability', 'Unit_price', 'Unit_count'],
      dtype='object')

In [56]:
df.duplicated().sum()

0

In [57]:
#if we had any duplicates we can do 
#df.drop_duplicates(inplace=True)

In [58]:
df.isna().sum()

Product_title              0
Product_price              0
Product_original_price    37
Currency                   0
Product_star_rating       10
Product_num_ratings        0
Is_best_seller             0
Product_availability      63
Unit_price                59
Unit_count                59
dtype: int64

In [63]:
df=df[["Product_title","Product_price","Currency","Product_star_rating","Product_num_ratings","Is_best_seller"]]

In [64]:
df.columns

Index(['Product_title', 'Product_price', 'Currency', 'Product_star_rating',
       'Product_num_ratings', 'Is_best_seller'],
      dtype='object')

In [65]:
df.isna().sum()

Product_title           0
Product_price           0
Currency                0
Product_star_rating    10
Product_num_ratings     0
Is_best_seller          0
dtype: int64

In [80]:
import warnings
warnings.filterwarnings("ignore")

In [82]:
df.fillna("Product_star_rating",inplace=True)
#or we can do df.dropna(inplace=True)

In [83]:
df.isna().sum()

Product_title          0
Product_price          0
Currency               0
Product_star_rating    0
Product_num_ratings    0
Is_best_seller         0
dtype: int64

In [84]:
df.head(1)

,Product_title,Product_price,Currency,Product_star_rating,Product_num_ratings,Is_best_seller
0,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,USD,4.0,2929,False

In [86]:
df["Is_best_seller"].apply (lambda x:1 if x==True else 0)

0     0
1     0
2     0
3     0
4     0
     ..
59    0
60    1
61    0
62    1
63    1
Name: Is_best_seller, Length: 64, dtype: int64

In [89]:
df["Product_price"]=df["Product_price"].str.replace("$","")

In [90]:
df["Product_price"]

0      99.99
1     149.74
2      49.88
3     335.00
4     199.99
       ...
59     34.98
60     14.99
61      0.00
62     69.99
63     59.99
Name: Product_price, Length: 64, dtype: object

In [98]:
df["Product_price"]=df["Product_price"].astype(float)

In [99]:
df["Product_price"]

0      99.99
1     149.74
2      49.88
3     335.00
4     199.99
       ...
59     34.98
60     14.99
61      0.00
62     69.99
63     59.99
Name: Product_price, Length: 64, dtype: float64

In [100]:
df["Product_price"]=df["Product_price"].apply(lambda x: round(x))

In [101]:
df["Product_price"]

0     100
1     150
2      50
3     335
4     200
     ...
59     35
60     15
61      0
62     70
63     60
Name: Product_price, Length: 64, dtype: int64

In [ ]:
# if we want to export dataset 
#data.to_excel("Cleaned_data_amazon.xslx")  || for xslx file
#data.to_csv("Cleaned_data_amazon.csv")