In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("ariyoomotade/netflix-data-cleaning-analysis-and-visualization")

# print("Path to dataset files:", path)

In [1]:
import pandas as pd #importing pandas library

In [2]:
df=pd.read_csv("netflix1.csv")  #loading the data

In [13]:
df.head()  #head is used to view top 5 rows of the table

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"

In [5]:
df.columns #it is used to see all the columns in the dataset

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [11]:
df.info()  #info is used to get brief information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [12]:
df.describe()  #describe will shows the count,mean,standard devasion,minimum to maximum

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [14]:
# Deleting unnecessary columns
# Renaming the columns
# Dropping duplicates
# Removeing Null Values from the dataset
# Checking for some morer Transformations
# '''

In [19]:
df.drop(columns="rating",inplace=True) #droping the column rating

In [22]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'duration', 'listed_in'],
      dtype='object')

In [23]:
new_columns=[]
for i in df.columns:
    new_columns.append(i.capitalize()) #this for loop is written to capitalize the columns in dataset

In [26]:
df.columns=new_columns

In [28]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

In [32]:
df.duplicated().sum() #this for loop is written to capitalize the columns in dataset

0

In [34]:
df["Show_id"].unique() #checking unique values

array(['s1', 's3', 's6', ..., 's8801', 's8784', 's8786'], dtype=object)

In [37]:
df["Show_id"]=df["Show_id"].apply(lambda x: x.split("s")[1]) #spliting s from Show_id

In [39]:
type(df["Show_id"])

pandas.core.series.Series

In [41]:
df["Show_id"]=df["Show_id"].astype(int) #converted datatype object into int

In [42]:
df["Show_id"]

0          1
1          3
2          6
3         14
4          8
        ...
8785    8797
8786    8798
8787    8801
8788    8784
8789    8786
Name: Show_id, Length: 8790, dtype: int32

In [55]:
df["Date_added"]=df["Date_added"].apply(lambda x: x.replace("/","-")) #changing / to -

In [46]:
df["Date_added"]

0        9-25-2021
1        9-24-2021
2        9-24-2021
3        9-22-2021
4        9-24-2021
           ...
8785     1-17-2017
8786     9-13-2018
8787    12-15-2016
8788     6-23-2018
8789      6-7-2018
Name: Date_added, Length: 8790, dtype: object

In [47]:
df["Country"].value_counts() #count of country

Country
United States     3240
India             1057
United Kingdom     638
Pakistan           421
Not Given          287
                  ...
Iran                 1
West Germany         1
Greece               1
Zimbabwe             1
Soviet Union         1
Name: count, Length: 86, dtype: int64

In [48]:
df1=df["Country"].value_counts().reset_index()
df1[df1["Country"]=="India"]      # checking perticular country

  Country  count
1   India   1057

In [52]:
df.rename(columns={"Listed_in":"Genre"},inplace=True) #renaming Listed_in to Genre

In [54]:
df.describe()

           Show_id  Release_year
count  8790.000000   8790.000000
mean   4399.382366   2014.183163
std    2542.575288      8.825466
min       1.000000   1925.000000
25%    2198.250000   2013.000000
50%    4395.500000   2017.000000
75%    6598.750000   2019.000000
max    8807.000000   2021.000000

In [60]:
df["Genre"].apply (lambda x:x[0:3])

0       Doc
1       Cri
2       TV
3       Chi
4       Dra
       ...
8785    Int
8786    Kid
8787    Int
8788    Kid
8789    Kid
Name: Genre, Length: 8790, dtype: object

In [69]:
df.head(10)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Genre
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9-22-2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"
5,9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9-24-2021,2021,9 Seasons,"British TV Shows, Reality TV"
6,10,Movie,The Starling,Theodore Melfi,United States,9-24-2021,2021,104 min,"Comedies, Dramas"
7,939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5-1-2021,2019,87 min,"Children & Family Movies, Comedies, Music & Mu..."
8,13,Movie,Je Suis Karl,Christian Schwochow,Germany,9-23-2021,2021,127 min,"Dramas, International Movies"
9,940,Movie,Motu Patlu in Wonderland,Suhas Kadav,India,5-1-2021,2013,76 min,"Children & Family Movies, Music & Musicals"

In [ ]:
# if we want to export cleaned data file
#df.to_excel("Data_Cleaning_Netflix.xlsx")  || for xslx file
#df.to_csv("Data_Cleaning_Netflix.csv")    || for csv file